body {
  background: url("lunch.jpg") no-repeat center/cover;
}

main {
  display: block;
  background-color: rgba(253, 253, 253, 0.9);
  border-radius: 2%;
  padding: 20px;
  color: #787878;
  margin: 40px auto 60px;
  position: relative;
}

@media (min-width: 500px) {
  main {
    padding: 40px;
    width: 50%;
  }
}

@media (min-width: 750px) {
  main {
    padding: 70px;
    max-width: 389px;
  }
}

.banner {
  display:flex; 
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: auto;
  background-color: #a44a3f;
  color: white;
  height: 60px;
  width: 300px;
  text-align: center;
  clip-path: polygon(100% 0%, 280px 50%, 100% 100%, 0% 100%, 21px 50%, 0% 0%);
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  color: #a44a3f;
  text-align: center;
}

h2 {
  color: #4E6F35;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  text-align: center;
  margin: 2px;
}

.ingredients {
  font-family: "Playfair Display", serif;
  line-height: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  letter-spacing: 1px;
  line-height: 2;
}

li {
  position: relative; /* Ensures the tooltip is positioned relative to the li */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: help;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f7f4d3;
  color: #000000;
  text-align: left;
  border-radius: 6px;
  padding: 20px;
  
  /* Tooltip positioning */
  position: absolute;
  bottom: 100%; /* Display tooltip above the item */
  left: 80%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

li:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.lunch-menu {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thumbImage{
  width: 60px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 10px;
}

