body {
  background-image: url("lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: block;
  background-color: rgb(253 253 253 / 90%);
  border-radius: 2%;
  padding: 70px;
  color: #787878;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 30%;
  position: relative;
}

.banner {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #a44a3f;
  color: white;
  height: 60px;
  width: 300px;
  text-align: center;
  clip-path: polygon(100% 0%, 280px 50%, 100% 100%, 0% 100%, 21px 50%, 0% 0%);
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h1 {
  color: #f19a77;
  text-align: center;
}

h2 {
  color: #a7c98e;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

li,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  padding-left: 0;
  letter-spacing: 1px;
  line-height: 2;
}
